div.create-habit-div {
	position: absolute;
	bottom: 10%;
	right: 10%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 5rem;
}

button.create-habit {
	border: none;
	background: var(--timer-bg);
	padding: 0.2rem 1rem;
	box-shadow: 2px 3px 2px 2px rgb(69, 90, 100, 0.08);
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
}

button.create-habit:last-child {
	display: flex;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 10px;
	margin: auto;
	padding: 0.2rem 0.3rem;
}

button.create-habit.pressed {
	opacity: 1;
}

button.create-habit:hover {
	background-color: var(--hover-add-button-bg);
}

button.create-habit svg {
	transition: 0.3s transform;
}

button.create-habit.pressed svg {
	transform: rotate(45deg);
}

button.create-habit.spawned {
	opacity: 0;
	transform: translateY(2rem);
	animation: button-appear 0.3s forwards;
}

@keyframes button-appear {
	to {
		opacity: 0.8;
		transform: translateY(0);
	}
}
