.dashboard {
	background-color: var(--dashboard);
	padding: 1.8rem 1.1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-name a {
	text-decoration: none;
	font-size: 25px;
}

.dashboard nav {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.dashboard nav button {
	width: 1.4rem;
	border: none;
	background: inherit;
}

.dashboard .account {
	display: flex;
}

.dashboard .account svg {
	width: 1.4rem;
}
