.dial {
	position: relative;
	width: 120px;
	height: 120px;
	border: 2px solid var(--focus-blue);
	border-radius: 50%;
}

.focus-modal .dial {
	width: 200px;
	height: 200px;
	font-size: 1.6rem;
}

.dial::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background: #ff6b6b;
	border-radius: 50%;
	top: -8px;
	left: 50%;
	transform: translate(-50%);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.dial-output {
	width: 100%;
	height: 100%;
	display: grid;
	text-align: center;
	place-content: center;
}
