.entries-container {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	gap: 2px;
	align-items: center;
	transition: margin 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.entries-container.shrink {
	margin-right: max(300px, 15%);
}

@media (max-width: 501px) {
	.entries-container.shrink {
		margin-right: 0;
	}
}

.entries-container .entry:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.entries-container .entry:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.entry {
	display: flex;
	width: min(95%, 700px);
	flex-direction: row;
	align-items: center;
	gap: 0.8rem;
	background-color: var(--habit-bg);
	color: var(--habit-fg);
	padding: 0.3rem 1rem;
	box-shadow: 0 1px 20px 0 rgb(69, 90, 100, 0.08);
	overflow: auto;
}

.entry-name {
	flex-grow: 1;
}

.entry button {
	background: inherit;
	border: none;
	line-height: 0;
	transition: transform 0.25s ease-in-out;
	position: relative;
	padding: 4px 8px;
}

.entry button:hover {
	background: var(--habit-bg-hover);
	cursor: pointer;
}

.entry button svg {
	width: 28px;
}

.entry div.time-badge {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 10px;
	z-index: 10;
	background: #fff;
	border: 1px solid #ddd;
	padding: 1px 2px;
	line-height: 1;
	font-size: 12px;
}
