div.focus-modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--habit-bg);
	z-index: 100;
}

div.focus-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.3rem;
}

button.focus-close {
	position: absolute;
	right: 0;
	top: 0;

	border: none;
	font-size: 1.5rem;
}
