div.focus-modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

div.focus-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.3rem;
}

button.focus-close {
	position: absolute;
	right: 0;
	top: 0;

	border: none;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	line-height: 0;
	padding: 0.2rem;
	background-color: inherit;
	font-size: 1.5rem;
}

button.focus-close:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

button.focus-close svg {
	width: 25px;
}
