.habit-overlay {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.1);
}

.habit-overlay form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding: 20px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	align-items: center;
}

.habit-overlay label {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}

.habit-overlay form button {
	width: 50px;
}
