.todo-habits,
.done-habits {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	align-items: center;
}

.done-habits h2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 1rem;
}

.habit {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 700px;
	gap: 0.8rem;
	background-color: var(--habit-bg);
	color: var(--habit-fg);
	padding: 0.3rem 1rem;
	box-shadow: 0 1px 20px 0 rgb(69, 90, 100, 0.08);
	border-radius: 4px;
}

.habit-name {
	flex-grow: 1;
}

.habit button {
	width: 1.7rem;
	background: inherit;
	border: none;
	transition: transform 0.25s ease-in-out;
}

.habit button:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.done-habits .habit {
	color: var(--habit-fg-completed);
}

.habit span {
	font-style: italic;
	color: var(--gray);
}
