.todo-habits,
.done-habits {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2px;
	align-items: center;
}

.todo-habits .habit:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.todo-habits .habit:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.done-habits h2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 1rem;
}

.habit {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 700px;
	gap: 0.8rem;
	background-color: var(--habit-bg);
	color: var(--habit-fg);
	padding: 0.4rem 1rem;
	transition:
		outline 0.1s cubic-bezier(0.9, 0.38, 0.4, 1.1),
		box-shadow 0.1s ease-in-out;
}

.habit-name {
	flex-grow: 1;
}

.habit button {
	background: transparent;
	border: none;
	transition: transform 0.25s ease-in-out;
	line-height: 0;
}

div.habit.timer-on,
div.habit.timer-on.focused {
	outline: 2px solid var(--timer-bg);
	box-shadow: 0 0 4px 0 hsl(0 0 0%);
}

div.svg-icon {
	width: 28px;
	height: 28px;
	line-height: 0;
}

.habit svg {
	width: 28px;
}

.habit button:hover {
	/* transform: scale(1.2); */
	background: var(--habit-bg-hover);
	cursor: pointer;
}

.done-habits .habit {
	color: var(--habit-fg-completed);
}

.habit span {
	font-style: italic;
	color: var(--gray);
}

button.danger {
	color: var(--danger-red);
	fill: var(--danger-red);
}

div.habit.focused {
	outline: 1px solid var(--focus-blue);
	box-shadow: 0 0 3px 0 var(--focus-blue);
}

div.button-hover {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1rem;
	background-color: inherit;
	opacity: 0;
	border-left: 2px solid #dfdfdf;
}

div.habit:hover div.button-hover {
	opacity: 1;
}

div.button-hover button {
	padding: 0 0.3rem;
}
