.habit-overlay {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
	color: #000;
}

.main-habit-form {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 3px;
	padding: 1rem;
}

.main-habit-form h3 {
	margin-bottom: 0.5rem;
}

.habit-overlay form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	width: 20rem;
	max-width: 400px;
}

.habit-overlay label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: #f5f5f5;
	position: relative;
	border-bottom: 2px solid var(--habit-done-hover);
}

.habit-overlay label:hover,
.habit-overlay label:focus-within {
	background-color: #e6e6e6;
}

.habit-overlay form span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left;
	padding-left: 0.5rem;
	transition:
		top 0.2s ease,
		transform 0.2s ease;
	color: var(--habit-done-hover);
}

.habit-overlay form label:focus-within span,
.habit-overlay form input:valid + span,
.habit-overlay form input:not([type="text"]) + span,
.habit-overlay form select + span {
	top: 10%;
	transform: scale(0.7);
}

.habit-overlay form label:focus-within span {
	color: var(--focus-blue);
}
.habit-overlay label:focus-within {
	border-bottom: 2px solid var(--focus-blue);
}

.habit-overlay form button {
	border: 2px solid #e3e3e3;
	background: none;
	border-radius: 3px;
	padding: 0.3rem 0.7rem;
	color: var(--focus-blue);
	cursor: pointer;
	font-weight: 500;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	gap: 0.3rem;
}

.habit-overlay button svg {
	width: 0.9rem;
}

.habit-overlay form button:hover {
	background-color: #f0f9ff;
}

.habit-overlay input,
.habit-overlay select {
	padding: 1.5rem 0 0.5rem 0.5rem;
	outline: none;
	border: none;
	background: none;
}

.habit-overlay input[type="text"] {
	background-color: inherit;
	border: none;
	font-size: 1rem;
}

div.weekly-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

div.weekly-list label {
	display: unset;
	width: unset;
	padding: 1rem;
	flex: 0 0 150px;
}

div.weekly-list span {
	position: unset;
	margin-right: 0.5rem;
}

form div.btn-grp {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	gap: 0.5rem;
	width: 100%;
	margin-top: 1rem;
	margin-right: 1rem;
}

.done-habits h3 {
	font-weight: 500;
	font-size: 16px;
	font-family: Roboto, "sans";
	display: flex;
	align-items: center;
}

.done-habits div.collapsible {
	cursor: pointer;
	width: 100%;
	height: 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
}
.done-habits svg {
	width: 30px;
}
