.habits-container {
	transition: margin 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.habits-container.shrink {
	margin-right: max(300px, 15%);
}

@media (max-width: 501px) {
	.habits-container.shrink {
		margin-right: 0;
	}
}

.todo-habits,
.done-habits {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2px;
	align-items: center;
}

.todo-habits .habit:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.todo-habits .habit:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.done-habits h2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 1rem;
}

.habit {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: min(95%, 700px);
	gap: 0.2rem;
	background-color: var(--habit-bg);
	color: var(--habit-fg);
	padding: 0.4rem 1rem;
	padding-left: 0.2rem;
	transition:
		outline 0.1s cubic-bezier(0.9, 0.38, 0.4, 1.1),
		box-shadow 0.1s ease-in-out;
	overflow: auto;
}

.habit-name {
	flex-grow: 1;
}

.habit button {
	background: transparent;
	border: none;
	transition: transform 0.25s ease-in-out;
	line-height: 0;
}

div.habit.timer-on,
div.habit.timer-on.focused {
	outline: 2px solid var(--timer-bg);
	/* box-shadow: 0 0 4px 0 hsl(0 0 0%); */
	box-shadow:
		0 1px 8px #0003,
		0 3px 4px #00000024,
		0 3px 3px -2px #0000001f;
}

div.svg-icon {
	width: 28px;
	height: 28px;
	line-height: 0;
}

.habit svg {
	width: 28px;
}

.habit button:hover {
	/* transform: scale(1.2); */
	background: var(--habit-bg-hover);
	cursor: pointer;
}

.done-habits .habit {
	color: var(--habit-fg-completed);
}

.habit span {
	font-style: italic;
	color: var(--gray);
}

button.danger {
	color: var(--danger-red);
	fill: var(--danger-red);
}

div.habit.focused {
	outline: 1px solid var(--focus-blue);
	box-shadow: 0 0 3px 0 var(--focus-blue);
}

div.button-hover {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1rem;
	background-color: inherit;
	opacity: 0;
	border-left: 2px solid #dfdfdf;
}

div.habit:hover div.button-hover {
	opacity: 1;
}

div.button-hover button {
	padding: 0 0.3rem;
}

textarea {
	width: max-content;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	resize: none;
	padding: 0.2rem 0.2rem;
}

.display-mode {
	background: transparent;
	color: inherit;
	cursor: text; /* still shows text cursor on hover */
	outline: none;
	border: 1px solid transparent;
	caret-color: transparent;
}

.display-mode::selection {
	background: transparent;
}

.edit-mode {
	border: 1px solid var(--timer-bg);
	border-radius: 3px;
	background: #fff;
	cursor: text;
	outline: none;
	box-shadow:
		0 4px 5px -2px #0003,
		0 7px 10px 1px #00000024,
		0 2px 16px 1px #0000001f;
}

.display-mode,
.edit-mode {
	transition: 225ms cubic-bezier(0, 0, 0.2, 1);
}
