div.operation-modal {
	background-color: white;
	min-width: 112px;
	max-width: 280px;
	width: min-content;
	box-sizing: border-box;
	outline: 0;

	/* animation: _mat-menu-enter 120ms cubic-bezier(0, 0, 0.2, 1); */
	box-shadow:
		0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12),
		0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.operation-modal button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 36px;
	border: none;
	background: inherit;
	color: black;
	padding: 0 16px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
}

.operation-modal button svg {
	margin-right: 16px;
	width: 24px;
	height: 24px;
}

.operation-modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
