.ripple-button {
	position: relative;
	overflow: hidden;
}

.ripple {
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	transform: scale(0);
	animation: ripple-animation 0.7s linear;
}

@keyframes ripple-animation {
	to {
		transform: scale(3);
		opacity: 0;
	}
}
