.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 250px;
	background-color: var(--sidebar-bg);
	z-index: 1;
}

.sidebar li {
	background-color: var(--sidebar-li-bg);
	color: var(--sidebar-fg);
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.sidebar ul {
	list-style: none;
	flex-direction: column;
}

.sidebar button {
	border: none;
	background-color: inherit;
	color: inherit;
	height: 100%;
	text-align: left;
	padding: 1rem 1rem 1.2rem 0.5rem;
}

.sidebar li:hover {
	background-color: var(--sidebar-li-hover-bg);
}

.sidebar-left {
	left: 0;
}

.sidebar-right {
	right: 0;
}

.sidebar .icon {
	width: 1.7rem;
}
