.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 250px;
	background-color: var(--sidebar-bg);
	z-index: 1;
}

.sidebar li {
	background-color: var(--sidebar-li-bg);
	color: var(--sidebar-fg);
	display: flex;
	align-items: center;
}

.sidebar ul {
	list-style: none;
	flex-direction: column;
}

.sidebar button {
	border: none;
	background-color: inherit;
	color: inherit;
	height: 100%;
	text-align: left;
	padding: 1rem 0;
}

.sidebar li > button {
	padding-left: 1rem;
	width: 100%;
}

.sidebar li:hover {
	background-color: var(--sidebar-li-hover-bg);
}

.sidebar-left {
	left: 0;
}

.sidebar-right {
	right: 0;
}

.sidebar .icon {
	width: 1.5rem;
	margin-left: 0.7rem;
}

.sidebar li.selected {
	position: relative;
	color: #e1e2e3;
}

.sidebar li.selected::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	background-color: var(--focus-blue);
}

.sidebar li.selected::after {
	position: absolute;
	inset: 0px;
	opacity: 0.1;
	content: "";
	background-color: rgb(33 37 41);
}
