.sidebar {
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: max(300px, 15%);
	font-size: 14px;
	background-color: var(--habit-bg);
	top: 4rem;
	right: 0;
	box-shadow:
		0 1px 5px #0003,
		0 2px 2px #00000024,
		0 3px 1px -2px #0000001f;
	transform: translateX(100%);
	animation: 300ms cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal forwards running
		slide-in;
}

@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}

.sidebar li {
	border: 1px solid hsl(0 0 85%);
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.sidebar ul {
	display: flex;
	flex-direction: column;
	color: var(--habit-fg);
	list-style: none;
	gap: 0.5rem;
	margin: 0.5rem;
}

.sidebar button {
	fill: var(--habit-fg);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.4rem;
	border: none;
	background-color: inherit;
	color: inherit;
	height: 100%;
	text-align: left;
	padding: 0.7rem 0;
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	letter-spacing: 0.25px;
	font-size: 14px;
	line-height: 20px;
	font-optical-sizing: auto;
}

.sidebar button svg {
	width: 1.3rem;
	fill: inherit;
}

.sidebar li > button {
	padding-left: 1rem;
	width: 100%;
}

.sidebar .icon {
	width: 1.5rem;
	margin-left: 0.7rem;
}

.sidebar li svg {
	fill: inherit;
}

.header-name {
	padding: 1rem;
}

.header-name a {
	text-decoration: none;
	font-size: 25px;
}
