div.timer {
	display: flex;
	bottom: 1rem;
	left: 50%;
	align-items: center;
	gap: 0.8rem;
	background: var(--habit-bg);
	border: var(--timer-bg) solid 2px;
	padding: 0 1rem;
	border-radius: 12px;
	height: 1.8rem;
	padding-right: 0;
}

div.timer button {
	border: none;
	border-radius: 50%;
	background: var(--timer-bg);
	width: 1.6rem;
	height: 1.6rem;
	transform: scale(1.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

div.timer button.running {
	animation: 2s ease-in-out glow infinite alternate;
}

@keyframes glow {
	0% {
		box-shadow: 0 0 0 0 #e293b5;
	}

	100% {
		box-shadow: 0 0 0 2px #e293b5;
	}
}

div.timer svg {
	width: 1rem;
}

div.exceeded-area-outer {
	background: var(--habit-bg);
	overflow: clip;
	margin-bottom: 1rem;
}

div.exceeded-area-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 650px;
	margin: auto;
	padding: 8px 16px;
}

div.exceeded-area-inner span {
	display: flex;
	align-items: center;
}

.exceeded-area-inner button {
	border: none;
	padding: 0.5rem;
	background: inherit;
	color: var(--focus-blue);
	cursor: pointer;
}

.exceeded-area-inner button:hover {
	background-color: #f9fdff;
}

.exceeded-area-inner svg {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.exceed-enter {
	max-height: 0;
	margin-bottom: 0;
}

.exceed-enter-active {
	max-height: 200px;
	margin-bottom: 1rem;
	transition:
		max-height 500ms ease-in,
		margin 500ms ease-in;
}

.exceed-exit {
	max-height: 200px;
	margin-bottom: 1rem;
}

.exceed-exit-active {
	transition:
		max-height 500ms ease-out,
		margin 500ms ease-out;
	margin-bottom: 0;
	max-height: 0;
}

.focus-time {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
