div.timer {
	position: absolute;
	display: flex;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
	gap: 1.7rem;
	background: var(--habit-bg);
	border: var(--timer-bg) solid 2px;
	padding: 0 1rem;
	border-radius: 20px;
}

div.timer button {
	border: none;
	border-radius: 50%;
	background: var(--timer-bg);
	width: 1.6rem;
	height: 1.6rem;
	transform: scale(1.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

div.timer svg {
	width: 1rem;
}
