* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	font-size: 0.875rem;
	background-color: var(--body-bg);
}

body,
div.focus-modal {
	background-image: linear-gradient(
		180deg,
		hsl(292deg 73% 85%) 0%,
		hsl(293deg 69% 89%) 3%,
		hsl(294deg 60% 93%) 16%,
		hsl(296deg 44% 95%) 40%,
		hsl(303deg 25% 96%) 72%,
		hsl(60deg 7% 97%) 100%
	);
}

#root {
	width: 100vw;
	height: 100%;
}

button {
	cursor: pointer;
}

button.svg-icon {
	background: inherit;
	border: none;
}
