.home {
	display: flex;
	flex-direction: row;
}

.main-container {
	flex: 1 1 auto;
}

.main-container.expand {
	margin-left: 0;
}

.main-container.shrink {
	margin-left: max(200px, 15%);
}

.main-container button.svg-icon {
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	border-radius: 10px;
	padding: 7px;
	display: flex;
	outline: none;
}

.main-container button.svg-icon:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.main-container button.svg-icon:active {
	background-color: rgba(0, 0, 0, 0.09);
}
