@import "./variables.css";
@import "./body.css";

@import "./home.css";
@import "./login.css";
@import "./components/dashboard.css";
@import "./components/navbar.css";
@import "./components/sidebar.css";
@import "./components/create-habit-button.css";
@import "./components/form.css";
@import "./components/habit-modal.css";
@import "./components/habit.css";
@import "./components/timer.css";
@import "./components/entries.css";
@import "./components/notification-modal.css";
@import "./components/today-metrics.css";
@import "./classes.css";
@import "./body.css";
@import "./transitions.css";
@import "./components/dial.css";
@import "./components/operation-modal.css";
@import "./components/focus-session.css";
@import "./components/date-container.css";
