:root {
	--dashboard: #f4f7fa;
	--habit-bg: #ffffff;
	--habit-fg: #28303a;
	--habit-bg-completed: #b8bac1;
	--habit-done-hover: #40455d;
	--body-bg: #f4f7fa;
	--timer-bg: #ff4081;
	--add-button-bg: #1de3bd;
}
