:root {
	--dashboard: #f4f7fa;
	--habit-bg: hsl(0 0 100%);
	--habit-bg-hover: hsl(0 0 calc(100% - 10%));
	--habit-fg: #28303a;
	--habit-fg-completed: #bfbfbf;
	--habit-done-hover: #40455d;
	--body-bg: #f4f7fa;
	--timer-bg: #ff4081;
	--add-button-bg: hsl(168 78% 50.2%);
	--hover-add-button-bg: hsl(168 78% calc(50.2% - 3%));
	--gray: #9e9e9e;
	--danger-red: #f44236;
	--navbar-bg: hsl(0 0 92%);
	--sidebar-li-bg: #374258;
	--navbar-li-hover-bg: hsl(0 0 calc(92% - 5%));
	--sidebar-fg: #a9b7d0;
	--focus-blue: hsl(199 97% 49%);
	--focus-hover-blue: hsl(199 97% calc(49% - 5%));
	--button-fg: hsl(0 0 100%);
}
