:root {
	--dashboard: #f4f7fa;
	--habit-bg: hsl(0 0 100%);
	--habit-bg-hover: hsl(0 0 calc(100% - 10%));
	--habit-fg: #28303a;
	--habit-fg-completed: #bfbfbf;
	--habit-done-hover: #40455d;
	--body-bg: #f4f7fa;
	--timer-bg: #ff4081;
	--add-button-bg: hsl(168 78% 50.2%);
	--hover-add-button-bg: hsl(168 78% calc(50.2% - 3%));
	--gray: #9e9e9e;
	--danger-red: #f44236;
	--sidebar-bg: #3f4d67;
	--sidebar-li-bg: #374258;
	--sidebar-li-hover-bg: #313a4e;
	--sidebar-fg: #a9b7d0;
	--focus-blue: #04a9f5;
}
